---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import P from "../typography/P.astro";
import H2 from "../typography/H2.astro";
import Link from "../Link.astro";

interface Props {
  service: CollectionEntry<"services">;
  isBig?: boolean;
  reverse?: boolean;
}

const { service, isBig, reverse } = Astro.props;
---

<li
  class:list={[
    "flex gap-x-10 border-b-8 pb-10 border-lightBg300 dark:border-lightText100",
    reverse && "md:flex-row-reverse",
  ]}
>
  <Image
    src={service.data.imageUrl}
    alt={service.data.title}
    width={500}
    height={500}
    class:list={["rounded-md object-cover mx-auto aspect-video w-1/2"]}
    transition:name={`${service.id}-image`}
  />
  <div class="mt-10 w-1/2">
    <Link
      class="space-y-5"
      href={`/services/${service.id}`}
      ariaLabel={service.data.title}
    >
      <H2>{service.data.title}</H2>
      <P>{service.data.description}</P>
    </Link>
  </div>
</li>
