---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import P from "../typography/P.astro";
import H3 from "../typography/H3.astro";
import Link from "../Link.astro";

interface Props {
  id: string;
  data: CollectionEntry<"services">["data"];
  inverted?: boolean;
}

const { id, data, inverted } = Astro.props;
const { title, description, features } = data;

const imageUrl =
  data.imageUrl ||
  "https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80";
---

<li
  class:list={[
    "flex flex-col md:gap-x-20 items-center md:items-start",
    inverted ? "md:flex-row" : "md:flex-row-reverse",
  ]}
>
  <Link class="space-y-2" href={`/services/${id}`}>
    <div class="mt-14 md:mt-0 md:w-1/2">
      <H3>{title}</H3>
      <P>{description}</P>
    </div>
    <div class="md:w-1/2 mt-10 md:mt-0">
      <Image
        src={imageUrl}
        alt={title}
        width={700}
        height={700}
        class="object-cover aspect-square rounded-xl"
        transition:name={`${id}-image`}
      />
    </div>
  </Link>
</li>
