---
import { getCollection } from "astro:content";
import SectionContainer from "../ui/SectionContainer.astro";
import ServiceCard from "../ui/services/ServiceCard.astro";
import Link from "../ui/Link.astro";
import H2 from "../ui/typography/H2.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import BentoItem from "../ui/BentoItem.astro";

interface Props {
  id: string;
}

const servicesCollection = await getCollection("services");

const services = servicesCollection.slice(0, 4);

const service1 = services[0];
const service2 = services[1];
const service3 = services[2];
const service4 = services[3];

const bentoGridServices = [
  {
    service: service1,
    gridClass: "col-span-2 row-span-1",
    imageClass: "aspect-[16/8] w-full h-auto",
    width: 800,
    height: 450,
  },
  {
    service: service2,
    gridClass: "col-span-1 row-span-1",
    imageClass: "aspect-square w-full h-full",
    width: 450,
    height: 450,
  },
  {
    service: service3,
    gridClass: "col-span-1 row-span-1",
    imageClass: "aspect-square w-full h-full",
    width: 450,
    height: 450,
  },
  {
    service: service4,
    gridClass: "col-span-2 row-span-1",
    imageClass: "aspect-[16/8] w-full h-auto",
    width: 800,
    height: 450,
  },
];

const { id } = Astro.props;
---

<SectionContainer id={id} class="pt-28">
  <header class="flex flex-col gap-y-5">
    <H2
      class="text-2xl md:text-4xl font-bold uppercase text-primary text-center dark:text-darkText100"
    >
      Nuestros Servicios
    </H2>
    <Link
      href="/services"
      class="flex items-center w-fit ml-auto"
      variant="outline"
    >
      Ver mas servicios
      <Icon name="tabler:arrow-right" class="w-5 h-5" />
    </Link>
  </header>

  <ul class="hidden md:grid grid-cols-3 gap-2">
    {
      bentoGridServices.map(
        ({ service, gridClass, width, height, imageClass }) => (
          <BentoItem
            id={service.id}
            service={service}
            gridClass={gridClass}
            width={width}
            height={height}
            imageClass={imageClass}
          />
        )
      )
    }
  </ul>

  <ul class="flex flex-col md:gap-y-36 md:mt-20 md:hidden">
    {
      services
        .slice(0, 2)
        .map((service, index) => (
          <ServiceCard
            id={service.id}
            data={service.data}
            inverted={index % 2 === 1}
          />
        ))
    }
  </ul>

  <footer class="w-full mt-10 flex justify-end">
    <Link href="/services" class="flex items-center w-fit" variant="outline">
      Ver mas servicios
      <Icon name="tabler:arrow-right" class="w-5 h-5" />
    </Link>
  </footer>
</SectionContainer>
